<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IF2211-Tucil3-PathFinder</title>
    <style>
        #map{
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>IF2211-Tucil3-PathFinder</h1>
    
    <div id = "map"></div>
    <script>
        function initMap(){
            var options = {
                zoom:8,
                center:{lat:-6.8333, lng:107.4833}
            }

            var map = new google.maps.Map(document.getElementById('map'), options);

            var marker = new google.maps.Marker({
                position:{lat:-6.8333, lng:107.4833},
                map:map
            });
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL1kgDjq5o5ePNkRPdcZEBKoP8dBoDW88&callback=initMap&libraries=&v=weekly">
    </script>
</body>
</html>
